/* Reset and Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #414141;
  font-family: "VT323", monospace;
  position: relative;
  gap: 20px;
}

/* Game Board */
#game-board {
  display: grid;
  grid-template-columns: repeat(20, 25px);
  grid-template-rows: repeat(20, 25px);
  margin: 5px;
  border-radius: 100px;
}

/* Game Borders */
.game-border-1 {
  border: 10px solid #595f43;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #595f43;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-border-2 {
  border: 10px solid #abb78a;
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #abb78a;
}

.game-border-3 {
  border: 10px solid #8b966c;
  border-radius: 20px;
  box-shadow: inset 0 0 0 5px #8b966c;
  background-color: #c4cfa3;
}

/* Score Display */
.scores {
  display: flex;
  justify-content: space-between;
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}

#score {
  color: #abb78a;
}

#highScore {
  color: #d8ddca;
  display: none;
}

/* Instruction Text */
#instruction-text {
  position: absolute;
  top: 62%;
  width: 50%;
  color: #333;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.8rem;
}

/* Logo */
#logo {
  position: absolute;
  background-color: #c4cfa3;
}

/* Snake and Food */
.snake {
  background-color: #414141;
  border: 1px dotted #5a5a5a;
}

.food {
  background-color: #dedede;
  border: 5px solid #999;
  border-radius: 50%;
}

/* Responsive Design */
@media (max-width: 600px) {
  #game-board {
    grid-template-columns: repeat(20, 18px);
    grid-template-rows: repeat(20, 18px);
  }

  .scores {
    width: 180px;
  }

  #score,
  #highScore {
    font-size: 32px;
  }

  #instruction-text {
    font-size: 1rem;
    top: 65%;
  }

  #logo {
    width: 100px;
  }
}
